<!DOCTYPE html>
<html>
<head>
  <title>Reddit</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% unless flash[:notices].nil? %>
  <div>
    <% flash[:notices].each do |notice| %>
      <%= notice %><br />
    <%end%>
  </div>
<%end%>

<%= yield %>

<% if logged_in? %>
<form action="<%= session_url %>" method="post">
  <input type="hidden" name="authenticity_token"
  value="<%= form_authenticity_token %>">

  <input type="hidden" name="_method" value="delete">

  <input type="submit" value="Sign Out" class="sign-out">
</form>
<% end %>

</body>
</html>
